# IDE files.
/.idea/
/.vscode/
/.vs/
/.cursor/

# Libraries and lockfiles.
/node_modules/
/package-lock.json
/pnpm-lock.yaml
/yarn.lock

# Minecraft server files.
minecraft/

# macOS files.
/**/*.DS_Store*
